<h3>{{story.author}}</h3>
<h5>{{story.date}}</h5>
<h3>{{story.headline}}</h3>
<p><img src={{story.image}} alt={{story.type}}></p>
<p>{{story.body}}</p>
<br>


<button {{action 'delete' story}}>Delete</button>
