Located in {{story.author}}, this {{story.headline}} bedroom {{story.body}} is
available by arrangement through {{story.owner}}.
<br>
<p><img src={{story.image}} alt={{story.type}}></p>

<button {{action 'delete' story}}>Delete</button>
