<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-index">{{#link-to 'index'}}Index{{/link-to}}</a>
        <a class="navbar-admin">{{#link-to 'admin'}}Admin Portal{{/link-to}}</a>
    </div>
  </div>
</nav>



        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
          {{#each model as |story|}}
            <li data-target="#carousel-example-generic" data-slide-to=""></li>
          {{/each}}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">



                  {{#each model as |story|}}

                    <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src={{story.image}} alt={{story.headline}}>
                      <div class="carousel-caption">
                          {{story.headline}}
                      </div>
                    </div>
                    </div>
                  {{/each}}

          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


<h2>News</h2>

  {{#each model as |story index|}}
           <li>{{story-tile story=story update="update" destroyStory="destroyStory"}}</li>
           <h2>{{index}}</h2>
        {{/each}}



{{new-story save2="save3"}}
